.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

.dark #the-nav-bar .nuxt-link-exact-active::before {
  background-color: rgb(31, 41, 55);
}
